.block1 {
    background-color: #EDE5A6;
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.block2 {
    margin-left: 20px;
    height: 200px;
    width: 150px;
    background-color: #592941;
    color: white;
    float: right;
}

.block3 {
    margin-left: 20px;
    height: 100px;
    width: 150px;
    background-color: #5FBFF9;
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}