body {
    font-family: Arial, Helvetica, sans-serif;

}

.block0 {
    background-color: #BFD7EA;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-collapse: separate;
    border-spacing: 15px;
    margin: 50px;
    width: 90%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 800px;
}

.entete {
    display: flex;
    justify-content: space-between;
}

.information {
    display: flex;
    justify-content: space-between;
}

h3 {
    text-decoration: underline;
    font-weight: bolder;
}

table {
    border: 2px;
    color: black;
    border-color: black;
    width: 100%;
}

.bouton {
    align-content: center;
}

button {
    height: 40px;
    width: 80px;
}

.n1 {
    border: none;
}