body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DA9F93;
    margin: 20px;
    padding: 20px;
    color: #B6465F;
}

h1 {
    justify-content: center;
    text-align: center;
}

div {
    color: #603140;
    margin: 20px;
    padding: 10px;
}

button {
    border-radius: 20%;
    height: 50px;
    width: 100px;
    background-color: #92374D;
    border-color: #92374D;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
button:hover{
    background-color: #793940;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    color: #BFC3BA;
}